{% extends 'multi_auth/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block css %}

{% endblock %}
{% block subtitle %}{{ subtitle }}{% endblock %}
{% block current_url %}{{ current_url }}{% endblock %}
{% block content %}
<div class="row">
<div class="col-md-4 offset-4">
<div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h2>Are you sure you want to delete the post "{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'users.index'%}">Cancel</a>
            </div>
        </form>
    </div>
</div>
</div>


{% endblock content %}

{% block scripts %}

{% endblock %}