{% load static %}
<!DOCTYPE html>
<html lang="en">
<<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Immigration{% block title %} {% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">


    <link rel="mask-icon" href=" {%  static 'multi_auth/images/icons/favicon-32x32.png'%}">

    <link rel="apple-touch-icon" sizes="57x57" href="{%  static 'multi_auth/images/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{%  static 'multi_auth/images/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{%  static 'multi_auth/images/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{%  static 'multi_auth/images/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{%  static 'multi_auth/images/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{%  static 'multi_auth/images/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{%  static 'multi_auth/images/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{%  static 'multi_auth/images/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{%  static 'multi_auth/images/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{%  static 'multi_auth/images/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'multi_auth/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{%  static 'multi_auth/images/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%  static 'multi_auth/images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{%  static 'multi_auth/images/icons/manifest.json' %}">
    <link rel="shortcut icon" href="{%  static 'multi_auth/images/icons/favicon.ico' %}">


    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">

    <link rel="stylesheet" href="{%  static 'multi_auth/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{%  static 'multi_auth/theme-10/css/vendor.min.css' %}">
    <link rel="stylesheet" href="{%  static 'multi_auth/theme-10/css/elephant.min.css' %}">
<link rel="stylesheet" href="{%  static 'multi_auth/theme-10/css/login-2.min.css' %}">
    <link rel="stylesheet" href="{%  static 'multi_auth/css/customized.css' %}">

</head>
<body>
<div class="login">
    <div class="login-body">
        <a class="login-brand" href="">
            <img class="img-responsive" src="{%  static 'multi_auth/images/logo/log.jpeg' %}" alt="EDMS">
        </a>
        {% block content  %}{% endblock %}
    </div>
    {% block auth_footer  %}{% endblock auth_footer %}
</div>
<script src="{%  static 'multi_auth/theme-10/js/vendor.min.js' %}"></script>
<script src="{%  static 'multi_auth/theme-10/js/elephant.min.js' %}"></script>
<script>
    function resetClasses() {
        var er_inputs = document.querySelectorAll(".is-invalid");
        var er_labels = document.querySelectorAll(".invalid-feedback");

        [].forEach.call(er_inputs, function(el) {
            el.classList.remove("is-invalid");
        });

        [].forEach.call(er_labels, function(el) {
            el.parentNode.removeChild(el);
        });
    }
</script>
</body>
</html>
