@extends('layouts.theme')

@section('content')
    <div class="layout-content-body">
        <div class="title-bar">
            <h1 class="title-bar-title">
              <span class="d-ib">@yield('header')</span>
                <span class="d-ib">
              </span>
            </h1>
        </div>
        <div class="row gutter-xs">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">@yield('card_header')</div>
                    <div class="card-body" id="table_content">
                        <div class="table-container">
                            @yield('table')
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@endsection

@section('scripts')
    <script src="{{asset('theme-10/js/demo.min.js')}}"></script>
    <script>
        // $('#data_table').DataTable();
        function reload(model) {
            var table_content = document.getElementById('table_content').innerHTML;
            $.get('{{route('index_tables')}}',
                {
                    model : model
                },

                function(data){
                    if (table_content !== data.table) {
                        console.log(data.title);
                        document.getElementById('table_content').innerHTML = data.table;
                        $('.dataTable').DataTable();

                    }
                },
                'json'
            )
        }
        // setInterval(function () {
        //     document.getElementById("reloader").click();
        // }, 1000);

        $(document).ready(function() {
            $('.dataTable').DataTable();
        } );
    </script>

@endsection
