{% extends 'multi_auth/auth_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Change Your Password to continue</p>

      <form action="{% url 'user.changepass' %}" method="post" >
    {% csrf_token %}
{{ form|crispy }}
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </div>
          <!-- /.col -->

      </form>


    </div>
    <!-- /.login-card-body -->
  </div>
{% endblock %}