{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EDMS &middot; {% block title %} {% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">


    <link rel="mask-icon" href=" {%  static 'multi_auth/images/icons/favicon-32x32.png'%}">

    <link rel="apple-touch-icon" sizes="57x57" href="{%  static 'multi_auth/images/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{%  static 'multi_auth/images/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{%  static 'multi_auth/images/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{%  static 'multi_auth/images/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{%  static 'multi_auth/images/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{%  static 'multi_auth/images/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{%  static 'multi_auth/images/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{%  static 'multi_auth/images/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{%  static 'multi_auth/images/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{%  static 'multi_auth/images/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'multi_auth/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{%  static 'multi_auth/images/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%  static 'multi_auth/images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{%  static 'multi_auth/images/icons/manifest.json' %}">
    <link rel="shortcut icon" href="{%  static 'multi_auth/images/icons/favicon.ico' %}">


    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">

    <link rel="stylesheet" href="{%  static 'multi_auth/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{%  static 'multi_auth/theme-10/css/vendor.min.css' %}">
    <link rel="stylesheet" href="{%  static 'multi_auth/theme-10/css/elephant.min.css' %}">
    <link rel="stylesheet" href="{%  static 'multi_auth/theme-10/css/application.min.css' %}">



    <link rel="stylesheet" href="{%  static 'multi_auth/css/customized.css' %}">
{% block css %} {% endblock %}
</head>
<body class="layout layout-header-fixed" >

<div class="layout-header">
  <div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand navbar-brand-center" href="">
            <img class="navbar-brand-logo" src="{%  static 'multi_auth/images/icons/favicon-32x32.png'%}" alt="MOOR">
        </a>
        <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
            <span class="sr-only">Toggle navigation</span>
            <span class="bars">
              <span class="bar-line bar-line-1 out"></span>
              <span class="bar-line bar-line-2 out"></span>
              <span class="bar-line bar-line-3 out"></span>
            </span>
            <span class="bars bars-x">
              <span class="bar-line bar-line-4"></span>
              <span class="bar-line bar-line-5"></span>
            </span>
        </button>
        <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="arrow-up"></span>
            <span class="ellipsis ellipsis-vertical">
              <img class="ellipsis-object" width="32" height="32" src="" alt="">
            </span>
        </button>
    </div>
    <div class="navbar-toggleable">
        <nav id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li class="visible-xs-block">
                    <h4 class="navbar-text text-center">Hi, Admin</h4>
                </li>
                <li class="dropdown hidden-xs">
                    <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
                        <img class="rounded" width="36" height="36" src="" alt=""> Admin
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">

                        <li><a href="#">Edit Profile</a></li>
                        <li>
                            <a href="{% url 'logout' %} }">
                                <i class="fa fa-power-off"></i>Logout</a>
                        </li>
                    </ul>
                </li>
                <li class="visible-xs-block">
                    <a href="profile.html">
                        <span class="icon icon-user icon-lg icon-fw"></span>
                        Profile
                    </a>
                </li>
                <li class="visible-xs-block">
                    <a href="login-1.html">
                        <span class="icon icon-power-off icon-lg icon-fw"></span>
                        Sign out
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</div>

<div class="layout-main">
      <div class="layout-sidebar">
    <div class="layout-sidebar-backdrop"></div>
    <div class="layout-sidebar-body">
        <div class="custom-scrollbar">
            <nav id="sidenav" class="sidenav-collapse collapse">
                <ul class="sidenav">

                    <li class="sidenav-heading">USER MANAGEMENT</li>
                    <li class="sidenav-item ">
                        <a href="{% url 'users.index' %}">
                            <span class="sidenav-icon icon icon-dashboard"></span>
                            <span class="sidenav-label">Users</span>
                        </a>
                    </li>
                     <li class="sidenav-item ">
                        <a href="{% url 'groups.index' %}">
                            <span class="sidenav-icon icon icon-dashboard"></span>
                            <span class="sidenav-label">Roles</span>
                        </a>
                    </li>
                     <li class="sidenav-item ">
                        <a href="#">
                            <span class="sidenav-icon icon icon-dashboard"></span>
                            <span class="sidenav-label">Permissions</span>
                        </a>
                    </li>
                    <li class="sidenav-heading">Videos Corner</li>
                     <li class="sidenav-item ">
                        <a href="#">
                            <span class="sidenav-icon icon icon-dashboard"></span>
                            <span class="sidenav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidenav-heading">Advertisements</li>
                    <li class="sidenav-item ">
                        <a href="#">
                            <span class="sidenav-icon icon icon-dashboard"></span>
                            <span class="sidenav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidenav-heading">User Managements</li>
                     <li class="sidenav-item ">
                        <a href="#">
                            <span class="sidenav-icon icon icon-dashboard"></span>
                            <span class="sidenav-label">Dashboard</span>
                        </a>
                    </li>
                     <li class="sidenav-item ">
                        <a href="#">
                            <span class="sidenav-icon icon icon-dashboard"></span>
                            <span class="sidenav-label">Dashboard</span>
                        </a>
                    </li>
                     <li class="sidenav-item ">
                        <a href="#">
                            <span class="sidenav-icon icon icon-dashboard"></span>
                            <span class="sidenav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidenav-heading">System Settings</li>
                    <li class="sidenav-item ">
                        <a href="#">
                            <span class="sidenav-icon icon icon-dashboard"></span>
                            <span class="sidenav-label">Dashboard</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

    <div class="layout-content">

{% block content  %}{% endblock %}

    </div>
    <div class="layout-footer">
<div class="layout-footer-body">
    <small class="version">Version 1.0.0</small>
    <small class="copyright">jkiurdiur Admin By <a href="https://ooks.000webhostapp.com/" target="_blank">OOKS</a></small>
</div>
    </div>

</div>
<script src="{%  static 'multi_auth/js/app.js' %}"></script>
<script src="{%  static 'multi_auth/theme-10/js/vendor.min.js' %}"></script>
<script src="{%  static 'multi_auth/theme-10/js/application.min.js' %}"></script>
<script src="{%  static 'multi_auth/theme-10/js/elephant.min.js' %}"></script>


<script>
    function clearMessage() {
        if (document.getElementById("message") !=null) {
            document.getElementById("message").remove();
        }
    }
    setTimeout(clearMessage, 5000);
</script>
{% block scripts %} {% endblock %}
</body>
</html>
