
:root {
    --sas-pink-light: #47c1ff;
    --sas-pink-dark: #4dbaff;
    --sas-navy: #2F3A5B;
    --sas-grey: #F2F2F2;
    --sas-error: red;
}

.navbar-brand-logo {
    height: 50px;
}

.layout-header {
    background-color: var(--sas-pink-light);
}

.navbar-default {
    background-color: var(--sas-pink-light);
}

.navbar-default .navbar-header {
    background-color: var(--sas-pink-dark);
}

.navbar-brand {
    float: left;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.navbar-default .sidenav-toggler.collapsed {
    background-color: var(--sas-pink-dark);
}

.navbar-default .navbar-search {
    background-color: var(--sas-pink-dark);
    color: #fff;
}

.layout-sidebar-backdrop {
    background-color: var(--sas-navy);
}

.btn-primary {
    background-color: var(--sas-pink-light);
    border-color: var(--sas-pink-light);
    color: #fff;
}

.btn-primary:hover {
    background-color: var(--sas-pink-dark);
    border-color: var(--sas-pink-dark);
    color: #fff;
}

.custom-control-primary .custom-control-input:checked~.custom-control-indicator {
    background-color: var(--sas-pink-light);
}

a {
    color: var(--sas-pink-light);
    text-decoration: none;
}

a:focus, a:hover {
    color: var(--sas-pink-light);
    text-decoration: underline;
}

.is-invalid {
    text-decoration: line-through;
}

.invalid-feedback {
    color: var(--sas-error);
}

.btn-secondary {
    border-color: var(--sas-pink-light);
    color: var(--sas-pink-dark);
}

.btn-secondary:hover {
    background-color: var(--sas-pink-light);
    color: white;
}

.img-preview {
    max-width: 100%;
}

ul.profile {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.profile > li {
    display: inline;
    margin-right: 20px;
}

.dashboard-table {
    max-height: 400px;
    overflow-y: auto;
}

.fa-facebook-square {
    color: #435DB1;
}

.fa-twitter-square {
    color: #24B0F5;
}

.dash-link {
    text-decoration: none;
}

.dash-link:hover {
    text-decoration: none;
}

.small-form {
    width: 50%;
    max-width: 500px;
    margin: auto;
}

.btn-suspend {
    color: white;
    background-color: green;
}

.btn-suspend:hover {
    background-color: red;
}

.btn-activate {
    color: white;
    background-color: red;
}

.btn-activate:hover {
    background-color: green;
}

.salon-profile-img {
    object-fit: cover;
    width:100%;
    max-height:300px;
}

.profile-card {
    display: flex;
}

.parent-height {
    flex: 1;
}

.parent-bottom {
    position: absolute;
    bottom: 0;
}

/*Social button styles begin*/

.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--twitter {
    background-color: #55acee
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9
}

.resp-sharing-button--pinterest {
    background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
    background-color: #8c0615
}

.resp-sharing-button--facebook {
    background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373
}

.resp-sharing-button--tumblr {
    background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
    background-color: #222d3c
}

.resp-sharing-button--reddit {
    background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
    background-color: #3a80c1
}

.resp-sharing-button--google {
    background-color: #dd4b39
}

.resp-sharing-button--google:hover {
    background-color: #c23321
}

.resp-sharing-button--linkedin {
    background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
    background-color: #046293
}

.resp-sharing-button--email {
    background-color: #777
}

.resp-sharing-button--email:hover {
    background-color: #5e5e5e
}

.resp-sharing-button--xing {
    background-color: #1a7576
}

.resp-sharing-button--xing:hover {
    background-color: #114c4c
}

.resp-sharing-button--whatsapp {
    background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
    background-color: #1da851
}

.resp-sharing-button--hackernews {
    background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
    background-color: #507299
}

.resp-sharing-button--vk:hover {
    background-color: #43648c
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
}

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
}

.resp-sharing-button--google {
    background-color: #dd4b39;
    border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
    background-color: #c23321;
    border-color: #c23321;
}

.resp-sharing-button--tumblr {
    background-color: #35465C;
    border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
    background-color: #222d3c;
    border-color: #222d3c;
}

.resp-sharing-button--email {
    background-color: #777777;
    border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
    background-color: #bd081c;
    border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
    background-color: #8c0615;
    border-color: #8c0615;
}

.resp-sharing-button--linkedin {
    background-color: #0077b5;
    border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
    background-color: #046293;
    border-color: #046293;
}

.resp-sharing-button--reddit {
    background-color: #5f99cf;
    border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
    background-color: #3a80c1;
    border-color: #3a80c1;
}

.resp-sharing-button--whatsapp {
    background-color: #25D366;
    border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
    background-color: #1DA851;
    border-color: #1DA851;
}

.resp-sharing-button--telegram {
    background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
    background-color: #4B97D1;}

.border-top-solid {
    border-top: solid var(--sas-navy) .5px;
}

/*Social buttons style ends*/

.mails {
    text-align: center;
    padding: auto;
    font-size: 150%;
    border-bottom: solid var(--sas-pink-light);
}

.table-container {
    max-width: 100%;
    overflow: auto;
}
