<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GroupList</title>
</head>
<body>
 {% for permission in object_list %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ permission.name}}</a>
              <small class="text-muted">{{ permission.name }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ permission.name }}</a></h2>
            <p class="article-content">{{ permission.name }}</p>
          </div>
        </article>
    {% endfor %}
</body>
</html>