
{% extends 'multi_auth/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
{% endblock %}

{% block subtitle %}{{ subtitle }}{% endblock %}
{% block current_url %}{{ current_url }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
    <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable with default features</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Permissions</th>
                    <th style="width:100px; min-width:100px;" class="text-center text-danger"><i class="fa fa-bolt"> </i></th>
                </tr>
                </thead>
                <tbody>
            {% for obj in object_list %}
                <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>

                <td>
                    {% for permission in obj.permissions.all %}
                        <span class="badge badge-info">{{ permission.name }}</span>
                        {% endfor %}
                        </td>
                <td>

                                    <a href="{% url 'groups.update' obj.id %}">
                                        <button class="btn btn-info btn-icon sq-32" type="button">
                                            <span class="fa fa-pencil-alt"></span>
                                        </button>
                                    </a>

                                    <button class="btn btn-danger btn-icon sq-32 btnDelete"
                                            type="button">
                                        <span class="fa fa-trash-alt"></span>
                                    </button>


                                </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>#</th>
                  <th>Name</th>
                  <th>Permissions</th>
                    <th style="width:100px; min-width:100px;" class="text-center text-danger"><i class="fa fa-bolt"> </i></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

{% endblock content %}

{% block scripts %}
<!-- DataTables -->
<script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>

    <script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>
{% endblock %}